.primary-btn {
    padding: 10px 24px;
    border-radius: 5px;
    background: #E76F51;
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn-hover {
    background: #FFFFFF;
    color: #E76F51;
    border: 1px solid #E76F51;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    font-family: poppins;
}

.btn-hover:hover {
    background-color: #E76F51;
    color: #FFF;
}